<html>
  <head>
    <title>Miserables Arc</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../miserables.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(600)
    .height(600)
    .top(100)
    .left(100)
    .right(100)
    .bottom(100);

var layout = vis.add(pv.Layout.Arc)
    .nodes(miserables.nodes)
    .links(miserables.links)
    .orient("radial");

layout.link.add(pv.Line);

layout.node.add(pv.Dot)
    .size(function(d) d.linkDegree + 4)
    .fillStyle(pv.Colors.category19().by(function(d) d.group))
    .strokeStyle(function() this.fillStyle().darker());

layout.label.add(pv.Label);

vis.render();

    </script>
  </body>
</html>
