<html>
  <head>
    <title>Directed Arc</title>
    <script type="text/javascript" src="../../protovis.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(400)
    .height(400)
    .top(100)
    .left(100)
    .right(100)
    .bottom(100);

var layout = vis.add(pv.Panel)
    .data(["top", "bottom", "left", "right"])
  .add(pv.Layout.Arc)
    .nodes([0, 1, 2, 3])
    .links([{source:0, target:1}, {source:3, target:2}])
    .orient(pv.identity);

layout.link.add(pv.Line);
layout.node.add(pv.Dot);
layout.label.add(pv.Label);

vis.render();

    </script>
  </body>
</html>
