<html>
  <head>
    <title>Directed Arc</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vertices = [0, 1, 2, 3],
    edges = [{source:0, target:1}, {source:3, target:2}],
    graph = pv.Layout.arc(vertices, edges).directed(true);

var vis = new pv.Panel()
    .width(400)
    .height(10)
    .top(110)
    .left(10)
    .right(10)
    .bottom(110);

vis.add(pv.Panel)
    .data(graph.links)
  .add(pv.Line)
    .extend(graph.link);

vis.add(pv.Dot)
    .extend(graph.node)
  .add(pv.Label)
    .extend(graph.label);

vis.render();

    </script>
  </body>
</html>
