<html>
  <head>
    <title>Diamond Arc</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../diamond.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(100)
    .height(400)
    .top(10)
    .left(10)
    .right(10)
    .bottom(10);

var layout = vis.add(pv.Layout.Arc)
    .nodes(pv.dom(diamond(3, 4, 4)).nodes())
    .links(function() this.nodes()
        .filter(function(n) n.parentNode)
        .map(function(n) ({sourceNode: n, targetNode: n.parentNode})))
    .orient("left");

layout.link.add(pv.Line);
layout.node.add(pv.Dot);

vis.render();

    </script>
  </body>
</html>
