<html>
  <head>
    <title>Bullet Layout</title>
    <script type="text/javascript" src="../../protovis.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(400)
    .height(30)
    .margin(20)
    .left(100);

var bullet = vis.add(pv.Layout.Bullet)
    .orient("left")
    .ranges([2.1e6, 2.85e6, 4e6])
    .measures([2.3e6, 3.01e6])
    .markers([1.15e6, 3.0e6]);

bullet.range.add(pv.Bar);
bullet.measure.add(pv.Bar);
bullet.marker.add(pv.Dot);

bullet.tick.add(pv.Rule)
  .anchor("bottom").add(pv.Label)
    .text(function(d) (d / 1e6).toFixed(1));

bullet.anchor("left").add(pv.Label)
    .font("bold 12px sans-serif")
    .textAlign("right")
    .textBaseline("bottom")
    .text("Revenue");

bullet.anchor("left").add(pv.Label)
    .textStyle("#666")
    .textAlign("right")
    .textBaseline("top")
    .text("US$, in millions");

vis.render();

    </script>
  </body>
</html>
