<html>
  <head>
    <title>Flare Circle</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(600)
    .height(600)
    .margin(100);

var layout = vis.add(pv.Layout.Cluster)
    .nodes(pv.dom(flare).root("flare").nodes())
    .innerRadius(200)
    .outerRadius(300)
    .group(true)
    .orient("radial");

layout.link.add(pv.Line);
layout.node.add(pv.Dot).radius(3);
layout.label.add(pv.Label).textMargin(5);

vis.render();

    </script>
  </body>
</html>
