<html>
  <head>
    <title>Flare Dendrogram</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(200)
    .height(2200)
    .left(40)
    .right(160)
    .top(10)
    .bottom(10);

var layout = vis.add(pv.Layout.Cluster)
    .nodes(pv.dom(flare)
        .root("flare")
        .sort(function(a, b) pv.naturalOrder(a.nodeName, b.nodeName))
        .nodes())
    .group(true)
    .orient("left");

layout.link.add(pv.Line);
layout.node.add(pv.Dot);
layout.label.add(pv.Label);

vis.render();

    </script>
  </body>
</html>
