<html>
  <head>
    <title>Flare Circle</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(800)
    .height(800)
    .top(100)
    .left(100)
    .bottom(100)
    .right(100);

var tree = pv.Layout.cluster(flare)
    .sort(function(a, b) pv.naturalOrder(a.nodeName, b.nodeName))
    .groupLeaves(true)
    .orient("radial");

vis.add(pv.Wedge)
    .extend(tree.fill)
  .anchor("center").add(pv.Label)
    .visible(function(d) d.nodeName)
    .text(function(d) d.nodeName);

vis.render();

    </script>
  </body>
</html>
