<html>
  <head>
    <title>Flare Dendrogram</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
    <script type="text/javascript" src="../center.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var o = 0;

var vis = new pv.Panel()
    .width(800)
    .height(800);

vis.add(pv.Layout.Cluster.Fill)
    .nodes(pv.dom(flare).nodes())
    .innerRadius(320)
    .outerRadius(220)
    .orient("radial")
  .node.add(pv.Wedge)
    .startAngle(function(n) n.startAngle + o)
    .fillStyle(pv.ramp("#aec7e8", "#1f77b4").by(function(n) n.depth))
    .lineWidth(1);

vis.add(pv.Layout.Partition.Fill)
    .nodes(pv.dom(flare).nodes())
    .innerRadius(300)
    .outerRadius(400)
    .orient("radial")
  .node.add(pv.Wedge)
    .startAngle(function(n) n.startAngle - o)
    .fillStyle(pv.ramp("#aec7e8", "#2ca02c").by(function(n) n.depth))
    .lineWidth(1);

vis.render();

setInterval(function() (o -= .003, vis.render()), 42);

    </script>
  </body>
</html>
