<html>
  <head>
    <title>Diamond Force</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
    <script type="text/javascript" src="../diamond.js"></script>
    <style type="text/css">

body {
  margin: 0;
}

    </style>
  </head>
  <body>
    <script type="text/javascript+protovis">

var nodes = pv.dom(diamond(3, 4, 4)).nodes(),
    links = nodes.slice(1).map(function(n) {
        return {source: n.nodeName, target: n.parentNode.nodeName || 0};
      });

var vis = new pv.Panel()
    .width(window.innerWidth)
    .height(window.innerHeight)
    .fillStyle("white")
    .strokeStyle("#ccc")
    .event("mousedown", pv.Behavior.pan())
    .event("mousewheel", pv.Behavior.zoom());

vis.add(pv.Layout.Force)
    .nodes(nodes)
    .links(links)
    .interactive(false)
  .link.add(pv.Line)
  .node.add(pv.Dot)
    .fillStyle(function(d) d.fixed ? "orange" : "white")
    .event("mousedown", pv.Behavior.drag());

vis.render();

    </script>
  </body>
</html>
