<html>
  <head>
    <title>Flare Force</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
    <style type="text/css">

body {
  margin: 0;
}

    </style>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(window.innerWidth)
    .height(window.innerHeight)
    .fillStyle("white")
    .event("mousedown", pv.Behavior.pan())
    .event("mousewheel", pv.Behavior.zoom());

var layout = vis.add(pv.Layout.Force)
    .nodes(pv.dom(flare).nodes())
    .links(pv.Layout.Hierarchy.links);

layout.link.add(pv.Line);

layout.node.add(pv.Dot)
    .title(function(d) d.nodeName)
    .size(function(d) (d.nodeValue / 100) || 10)
    .fillStyle(function(d) d.fix ? "orange" : (d.firstChild ? "steelblue" : "white"))
    .event("mousedown", pv.Behavior.drag())
    .event("drag", layout);

vis.render();

    </script>
  </body>
</html>
