<html>
  <head>
    <title>Grid Layout</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .data(["\u2603"])
    .width(800)
    .height(800)
    .top(10)
    .left(10)
    .right(10)
    .bottom(10)
    .fillStyle("#eee")
    .strokeStyle("#ccc");

vis.add(pv.Layout.Grid)
    .rows(3)
    .cols(3)
  .add(pv.Panel)
  .add(pv.Layout.Grid)
    .rows(pv.parent)
    .cols(pv.parent)
  .add(pv.Bar)
    .antialias(false)
    .lineWidth(1)
    .strokeStyle("#fff")
    .fillStyle(null)
  .anchor("center").add(pv.Label)
    .textStyle(pv.Colors.category10().by(pv.parent))
    .font("24px sans");

vis.render();

    </script>
  </body>
</html>

