<html>
  <head>
    <title>Grid Layout</title>
    <script type="text/javascript" src="../../protovis.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .data(["\u2603"])
    .width(800)
    .height(800)
    .margin(10)
    .fillStyle("#eee")
    .strokeStyle("#ccc");

vis.add(pv.Layout.Grid)
    .rows(3)
    .cols(3)
  .cell.add(pv.Layout.Grid)
    .rows(pv.index)
    .cols(pv.index)
  .cell.add(pv.Bar)
    .strokeStyle("#fff")
  .anchor("center").add(pv.Label)
    .textStyle("rgba(255, 255, 255, .4)")
    .font("24px sans");

vis.render();

    </script>
  </body>
</html>

