<html>
  <head>
    <title>Flare Icicle</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(1200)
    .height(600);

var icicle = pv.Layout.icicle(flare)
    .root("flare")
//     .orient("left");

vis.add(pv.Bar)
    .extend(icicle)
    .fillStyle(pv.Colors.category19()
        .by(function(n) n.children ? n.keys : n.keys.slice(0, -1)))
    .strokeStyle("white")
  .anchor("center").add(pv.Label)
     .visible(function(n) n.width >= 10)
     .textAngle(-Math.PI / 2)
     .text(function(n) n.keys[n.keys.length - 1]);

vis.render();

    </script>
  </body>
</html>
