<html>
  <head>
    <title>Flare Icicle</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(1200)
    .height(600);

var tree = pv.Layout.partition(flare)
    .sort(function(a, b) pv.naturalOrder(a.nodeName, b.nodeName));

vis.add(pv.Bar)
    .extend(tree.fill)
  .anchor("center").add(pv.Label)
    .textAngle(-Math.PI / 2)
    .text(function(n) n.parentNode ? n.nodeName : "flare");

vis.render();

    </script>
  </body>
</html>
