<html>
  <head>
    <title>Flare Indent</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(400)
    .height(3800);

var layout = vis.add(pv.Layout.Indent)
    .nodes(pv.dom(flare).root("flare").nodes());

layout.link.add(pv.Line);
layout.node.add(pv.Dot);
layout.label.add(pv.Label);

vis.render();

    </script>
  </body>
</html>
