<html>
  <head>
    <title>Miserables Matrix</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../miserables.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(700)
    .height(700)
    .top(90)
    .left(90);

var layout = vis.add(pv.Layout.Matrix)
    .nodes(miserables.nodes)
    .links(miserables.links)
    .sort(function(a, b) b.linkDegree - a.linkDegree);

layout.link.add(pv.Bar);
layout.label.add(pv.Label);

vis.render();

    </script>
  </body>
</html>
