<html>
  <head>
    <title>Flare Pack</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(800)
    .height(800)
    .margin(2);

vis.add(pv.Layout.Pack)
    .nodes(pv.dom(flare).nodes())
    .size(function(d) d.nodeValue)
  .node.add(pv.Dot)
    .fillStyle(function(d) d.firstChild ? "rgba(31, 119, 180, .25)" : "#ff7f0e")
    .title(function t(d) d.parentNode ? (t(d.parentNode) + "." + d.nodeName) : "flare");

vis.render();

    </script>
  </body>
</html>
