<html>
  <head>
    <title>Flare Radial</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(900)
    .height(900);

var layout = vis.add(pv.Layout.Partition.Fill)
    .nodes(pv.dom(flare).root("flare").nodes())
    .order("ascending")
    .orient("radial");

layout.node.add(pv.Wedge);
layout.label.add(pv.Label);

vis.render();

    </script>
  </body>
</html>
