<html>
  <head>
    <title>Flare Radial</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(900)
    .height(900);

vis.add(pv.Layout.Partition.Fill)
    .data(pv.dom(flare).nodes())
    .size(Number)
    .order("ascending")
    .orient("radial")
  .add(pv.Wedge)
  .anchor("center").add(pv.Label)
    .visible(function(d) (d.endAngle - d.startAngle) > .04)
    .text(function(d) d.nodeName);

vis.render();

    </script>
  </body>
</html>
