<html>
  <head>
    <title>Flare Radial</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(600)
    .height(600);

vis.add(pv.Layout.Partition.Fill)
    .nodes(pv.dom(flare).nodes())
    .innerRadius(200)
    .outerRadius(300)
    .orient("radial")
  .node.add(pv.Wedge);

vis.render();

    </script>
  </body>
</html>
