<html>
  <head>
    <title>Diamond Partition</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../diamond.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(900)
    .height(300)
    .margin(12);

var layout = vis.add(pv.Layout.Partition)
    .nodes(pv.dom(diamond(3, 4, 4)).nodes());

layout.link.add(pv.Line)
    .strokeStyle("#aaa");

layout.node.add(pv.Dot)
    .size(100)
    .strokeStyle(function(d) d.active ? "#f00" : "#aaa")
    .fillStyle(function(d) d.active ? "#fdd" : "#ddd")
    .event("mouseover", function(d) (d.active = true, this))
    .event("mouseout", function(d) (d.active = false, this));

vis.render();

    </script>
  </body>
</html>
