<html>
  <head>
    <title>Flare Radial</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(1000)
    .height(1000)
    .top(100)
    .bottom(-100)
    .left(100);

var tree = pv.Layout.radial(flare)
    .sort(function(b, a) a.size - b.size);

vis.add(pv.Panel)
    .data(tree.links)
  .add(pv.Line)
    .extend(tree.link);

vis.add(pv.Dot)
    .extend(tree.node)
  .add(pv.Label)
    .extend(tree.label);

vis.render();

    </script>
  </body>
</html>
