<html>
  <head>
    <title>Stack</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../layers.js"></script>
    <style type="text/css">

body {
  margin: 0;
}

    </style>
  </head>
  <body>
    <script type="text/javascript+protovis">

var w = window.innerWidth,
    h = window.innerHeight,
    n = 30, // number of layers
    m = 100, // number of samples per layer
    x = pv.Scale.linear(0, m - 1).range(0, h),
    y = pv.Scale.linear(0, n / 2).range(0, w);

var vis = new pv.Panel()
    .width(w)
    .height(h);

vis.add(pv.Layout.Stack)
    .layers(waves(n, m).filter(function(d, i) !(i & 1)))
    .orient("left")
    .order("inside-out")
    .offset("wiggle")
    .x(x.by(pv.index))
    .y(y)
  .layer.add(pv.Area)
    .fillStyle(pv.ramp("#aad", "#556").domain(0, n).by(pv.parent))
    .strokeStyle("#334");

vis.render();

    </script>
  </body>
</html>
