<html>
  <head>
    <title>Flare Treemap</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
    <style type="text/css">

body {
  margin: 0;
}

    </style>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(function() window.innerWidth - 2)
    .height(function() window.innerHeight - 2)
    .margin(1);

var layout = vis.add(pv.Layout.Treemap)
    .nodes(pv.dom(flare).root("flare").nodes())
    .mode("slice-and-dice")
    .order("descending");

layout.node.add(pv.Bar);
layout.label.add(pv.Label);

vis.render();

    </script>
  </body>
</html>
