<html>
  <head>
    <title>Flare Treemap</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <style type="text/css">

body {
  margin: 0;
}

    </style>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(function() window.innerWidth - 1)
    .height(function() window.innerHeight - 1)
    .margin(.5);

vis.add(pv.Layout.Treemap)
    .nodes(pv.nodes(pv.range(3)))
    .mode("slice")
  .leaf.add(pv.Layout.Treemap)
    .nodes(pv.nodes(pv.range(10)))
    .mode("dice")
  .leaf.add(pv.Layout.Treemap)
    .nodes(pv.nodes(pv.range(10)))
    .mode("slice")
  .leaf.add(pv.Bar)
    .fillStyle(pv.ramp("steelblue", "brown").by(Math.random))
    .strokeStyle("#fff")
    .lineWidth(1)
    .antialias(false);

vis.render();

    </script>
  </body>
</html>
