<html>
  <head>
    <title>Flare Tree</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(600)
    .height(2300)
    .left(40)
    .top(-400)
    .bottom(-50);

var tree = pv.Layout.tree(flare)
    .offset(120, 10)
    .orient("left");

vis.add(pv.Panel)
    .data(tree.links)
  .add(pv.Line)
    .extend(tree.link);

vis.add(pv.Dot)
    .extend(tree.node)
  .add(pv.Label)
    .extend(tree.label);

vis.render();

    </script>
  </body>
</html>
