<html>
  <head>
    <title>Flare Treemap</title>
    <script type="text/javascript" src="../../protovis.js"></script>
    <script type="text/javascript" src="../flare.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var vis = new pv.Panel()
    .width(800)
    .height(800)
    .margin(2);

vis.add(pv.Layout.Treemap)
    .nodes(pv.dom(flare).root("flare").nodes())
    .padding(6)
  .node.add(pv.Bar)
    .fillStyle(function(n) n.firstChild ? "rgba(31, 119, 180, .25)" : "#ff7f0e")
    .title(function t(n) n.parentNode ? (t(n.parentNode) + "." + n.nodeName) : "flare");

vis.render();

    </script>
  </body>
</html>
